.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding: 1rem 0.5rem;
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.ul {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: absolute;
  z-index: 99;
  background-color: #fefefe;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
}

.link {
  width: 100%;
  text-align: center;
}

.linkA {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: var(--my-color) !important;
}

.li {
  font-size: 1.2rem;
  padding: 1rem 0;
  max-width: 1100px;
  margin: 0 auto;
}

.li:hover {
  color: var(--my-color);
  font-weight: bold;
}

.hamburger {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.darkmode {
  margin: 0 1rem;
}

.fix {
  color: var(--my-color);
}

.react {
  color: var(--my-color);
}

.h1 {
  font-size: 2rem;
  line-height: 1.4;
  color: var(--my-color);
}

.button {
  cursor: pointer;
}
