.article {
  background-color: var(--bg-color);
  padding: 2rem;
  border-radius: 15px;
  margin: 0.5rem;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.bookmark {
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  font-weight: bold;
  height: 40px;
  font-size: 0.9rem;
  @media (min-width: 640px) {
    font-size: 1rem;
  }
}

.answer {
  background-color: var(--bg-answer-color);
  height: 90%;
  border-radius: 1rem;
  margin: 2rem 0;
  padding: 1rem;
  word-break: break-all;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.close {
  display: none;
}

.open {
  display: block;
}

.button {
  display: flex;
  justify-content: space-between;
}

.move {
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.move:disabled {
  color: var(--bg-move-color);
}
