@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

:root {
  --my-color: #8aaae5;
}

* {
  margin: 0;
}

body {
  background-color: #fefefe;
  margin: 0 auto;
  max-width: 1100px;
  font-family: "Nanum Gothic Coding", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

a {
  text-decoration-line: none;
}
