.article {
  position: relative;
  z-index: 1;
  background-color: var(--bg-color);
  padding: 2rem;
  border-radius: 15px;
  margin: 0.5rem;
  height: 70vh;
}

.fadein {
  font-size: medium;
  position: relative;
  z-index: 1;
  overflow: hidden;
  animation: fadein 3s ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.fadein p {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--my-color);
  padding: 1rem 0;
}

@media (min-width: 640px) {
  .fadein p {
    font-size: 2rem;
  }
}

.fadeinLogo {
  font-size: medium;
  position: relative;
  z-index: 1;
  overflow: hidden;
  animation: fadein 5s ease-in-out;
}

.fadeinLogo:hover {
  transform: scale(1.1);
}

.fadeinLogo p {
  text-align: center;
  padding: 1rem 0;
}

@keyframes fadeinLogo {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  height: 70%;
  margin-top: 2rem;
  place-items: center;
}
