.button {
  cursor: pointer;
  background-color: cornflowerblue;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
}

.button:hover {
  filter: brightness(1.2);
}
